* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0px;
}

figure {
  margin: 0%;
  padding: 0%;
}

* {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

.recherche__texte {
  font-size: 18px;
}

.recherche .fa-search {
  font-size: 32px;
}

.filtres__select .selected {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

.filtres__select .selected .fa-times-circle {
  color: #ffffff;
  font-size: 20px;
}

.filtres .choix {
  font-size: 18px;
  font-weight: 700;
}

.recette .titre {
  font-size: 18px;
}

.recette .duree {
  font-size: 18px;
  font-weight: 700;
}

.recette .duree .fa-clock {
  font-size: 20px;
}

.recette .ingredients {
  font-size: 12px;
}

.recette .description {
  font-size: 12px;
}

.fa-chevron-down {
  color: #ffffff;
  font-size: 24px;
}

.accueil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.accueil__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: 50%;
  margin: 20px 0px 10px 0px;
}

footer {
  background-color: #c7bebe;
  padding-top: 20px;
  padding-bottom: 30px;
}

footer h1 {
  margin-left: 25px;
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

footer nav a {
  margin-left: 25px;
}

footer nav .fas {
  width: 30px;
}

.recherches {
  margin: 0% 4% 0% 4%;
}

.recherches .recherche {
  margin: 2%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e7e7e7;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
}

.recherches .recherche__texte {
  height: 69px;
  width: 100%;
  background-color: #e7e7e7;
  border: hidden;
  border-radius: 5px;
  padding-left: 10px;
}

.recherches .recherche .fa-search {
  position: relative;
  top: 18px;
  right: 18px;
}

.filtres {
  padding-left: 5%;
}

.filtres__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filtres__select .selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1%;
  padding-left: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
}

.filtres__select .selected .fa-times-circle {
  padding: 5px;
}

.filtres__choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filtres__choix .box-choix {
  margin: 1%;
  border-radius: 5px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  position: relative;
}

.filtres__choix .box-choix .choix {
  margin: 1%;
  height: 69px;
  width: 170px;
  padding-left: 15px;
  border-radius: 5px;
  border: hidden;
  color: #ffffff;
}

.filtres .new-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 667px;
}

.fa-chevron-down {
  position: absolute;
  top: 25px;
  right: 20px;
}

#ingredient-list, .ingredient {
  background-color: #3282f7;
}

#appareil-list, .appareil {
  background-color: #68d9a4;
}

#ustensiles-list, .ustensiles {
  background-color: #ed6454;
}

.ingredient .choice, .appareil .choice, .ustensiles .choice {
  width: 212px;
  list-style: none;
  padding: 5px 0px 5px 10px;
}

#recettes {
  margin: 0% 4% 4% 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#recettes .bloc-recette {
  height: 364px;
  margin: 2%;
}

#recettes .bloc-recette .img {
  height: 178px;
  background-color: #c7bebe;
  border-radius: 5px 5px 0px 0px;
}

#recettes .bloc-recette .recette {
  height: 186px;
  background-color: #e7e7e7;
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#recettes .bloc-recette .recette .titre {
  width: 55%;
  height: 50px;
  padding: 0% 5% 0% 5%;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#recettes .bloc-recette .recette .duree {
  width: 85px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#recettes .bloc-recette .recette .duree .fa-clock {
  margin-right: 5px;
}

#recettes .bloc-recette .recette .ingredients {
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 65%;
  margin: 0% 5% 0% 5%;
}

#recettes .bloc-recette .recette .description {
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 65%;
  margin: 0% 5% 0% 5%;
}

#ingredient.up + .fas {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#appareil.up + .fas {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#ustensiles.up + .fas {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fas {
  -webkit-transition: -webkit-transform 500ms;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

@media all {
  .bloc-recette {
    width: 100%;
  }
}

@media all and (min-width: 720px) {
  .accueil__logo {
    height: auto;
    width: 30%;
  }
  .bloc-recette {
    width: 45%;
  }
}

@media all and (min-width: 1024px) {
  .accueil__logo {
    height: 100px;
    width: auto;
  }
  .bloc-recette {
    width: 29.3%;
  }
}
/*# sourceMappingURL=main.css.map */