* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0px;
}

figure {
  margin: 0%;
  padding: 0%;
}

* {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

.recherche__texte {
  font-size: 18px;
}
.recherche .fa-search {
  font-size: 32px;
}

.filtres__select .selected {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}
.filtres__select .selected .fa-times-circle {
  color: #ffffff;
  font-size: 20px;
}
.filtres__ingredients {
  font-size: 18px;
  font-weight: 700;
}
.filtres__appareil {
  font-size: 18px;
  font-weight: 700;
}
.filtres__ustensiles {
  font-size: 18px;
  font-weight: 700;
}

.recette .titre {
  font-size: 18px;
}
.recette .duree {
  font-size: 18px;
  font-weight: 700;
}
.recette .duree .fa-clock {
  font-size: 20px;
}
.recette .ingredients {
  font-size: 12px;
}
.recette .description {
  font-size: 12px;
}

.accueil {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.accueil__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 50%;
  margin: 20px 0px 10px 0px;
}

footer {
  background-color: #c7bebe;
  padding-top: 20px;
  padding-bottom: 30px;
}
footer h1 {
  margin-left: 25px;
}
footer nav {
  display: flex;
  flex-flow: column;
}
footer nav a {
  margin-left: 25px;
}
footer nav .fas {
  width: 30px;
}

.recherches {
  margin: 0% 4% 0% 4%;
}
.recherches .recherche {
  margin: 2%;
  width: auto;
  display: flex;
  background-color: #e7e7e7;
  justify-content: space-between;
  border-radius: 5px;
}
.recherches .recherche__texte {
  height: 69px;
  width: 100%;
  background-color: #e7e7e7;
  border: hidden;
  border-radius: 5px;
  padding-left: 10px;
}
.recherches .recherche .fa-search {
  position: relative;
  top: 18px;
  right: 18px;
}

.filtres {
  padding-left: 1%;
}
.filtres__select {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.filtres__select .selected {
  display: flex;
  align-items: center;
  margin: 1%;
  padding-left: 5px;
  width: fit-content;
  border-radius: 5px;
  background-color: #3282f7;
}
.filtres__select .selected .fa-times-circle {
  padding: 5px;
}
.filtres__ingredients {
  margin: 1%;
  height: 69px;
  width: 170px;
  padding-left: 15px;
  border-radius: 5px;
  border: hidden;
  color: #ffffff;
  background-color: #3282f7;
}
.filtres__appareil {
  margin: 1%;
  height: 69px;
  width: 170px;
  padding-left: 15px;
  border-radius: 5px;
  border: hidden;
  color: #ffffff;
  background-color: #68d9a4;
}
.filtres__ustensiles {
  margin: 1%;
  height: 69px;
  width: 170px;
  padding-left: 15px;
  border-radius: 5px;
  border: hidden;
  color: #ffffff;
  background-color: #ed6454;
}

#recettes {
  margin: 0% 4% 4% 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: flex-start;
}
#recettes .bloc-recette {
  height: 364px;
  margin: 2%;
}
#recettes .bloc-recette .img {
  height: 178px;
  background-color: #c7bebe;
  border-radius: 5px 5px 0px 0px;
}
#recettes .bloc-recette .recette {
  height: 186px;
  background-color: #e7e7e7;
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#recettes .bloc-recette .recette .titre {
  width: 55%;
  height: 50px;
  padding: 0% 5% 0% 5%;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#recettes .bloc-recette .recette .duree {
  width: 85px;
  height: 50px;
  display: flex;
  align-items: center;
}
#recettes .bloc-recette .recette .duree .fa-clock {
  margin-right: 5px;
}
#recettes .bloc-recette .recette .ingredients {
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 65%;
  margin: 0% 5% 0% 5%;
}
#recettes .bloc-recette .recette .description {
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 65%;
  margin: 0% 5% 0% 5%;
}

@media all {
  .bloc-recette {
    width: 100%;
  }
}
@media all and (min-width: 720px) {
  .accueil__logo {
    height: auto;
    width: 30%;
  }

  .bloc-recette {
    width: 45%;
  }
}
@media all and (min-width: 1024px) {
  .accueil__logo {
    height: 100px;
    width: auto;
  }

  .bloc-recette {
    width: 29.3%;
  }
}

/*# sourceMappingURL=style.css.map */
