@media all and (min-width: 720px) {
    // logo
    .accueil__logo {
        height: auto;
        width: 30%;
    }
}

@media all and (min-width: 1024px) {
    // logo
    .accueil__logo {
        height: 100px;
        width: auto;
    }
}