
.recherches {
    margin: 0% 4% 0% 4%;
    .recherche {
        margin: 2%;
        width: auto;
        display: flex;
        background-color: $color-shadow;
        justify-content: space-between;
        border-radius: 5px;
        &__texte {
            height: 69px;
            width: 100%;
            background-color: $color-shadow;
            border: hidden;
            border-radius: 5px;
            padding-left: 10px;
        }
        .fa-search {
            position: relative;
            top: 18px;
            right: 18px;
        }
    }
}


.filtres {
    padding-left: 5%;
    &__select {
        @include flex-row;
        .selected {
            @include center-vert;
            margin: 1%;
            padding-left: 5px;
            width: fit-content;
            border-radius: 5px;
            .fa-times-circle {
                padding: 5px;
            }
        }
    }
    &__choix {
        @include flex-row;
        .box-choix {
            margin: 1%;
            border-radius: 5px;
            width: min-content;
            position:relative;
            .choix {
                @include filtres;
            }
        }
    }
    .new-choice {
        @include flex-row;
        width: 667px;
    }
}
.fa-chevron-down {
    position:absolute;
    top:25px;
    right:20px;
}

#ingredient-list , .ingredient {
    background-color: $color-ingredients;
}
#appareil-list , .appareil {
    background-color: $color-appareil;
}
#ustensiles-list , .ustensiles {
    background-color: $color-ustensiles;
}

.ingredient .choice , .appareil .choice , .ustensiles .choice {
    width: 212px;
    list-style: none;
    padding: 5px 0px 5px 10px;
}

#recettes {
    margin: 0% 4% 4% 4%;
    @include flex-wrap;
    justify-content: flex-start;
    .bloc-recette {
        height: 364px;
        margin: 2%;
        // width: 100%;
        .img {
            height: 178px;
            background-color: $color-inactive;
            border-radius: 5px 5px 0px 0px;
        }
        .recette {
            height: 186px;
            background-color: $color-shadow;
            border-radius: 0px 0px 5px 5px;
            padding-bottom: 10px;
            @include flex-wrap;
            .titre {
                width: 55%;
                height: 50px;
                padding: $margin-infos;
                text-overflow: ellipsis;
                @include center-vert;
                @include wrap-text;
            }
            .duree {
                width: 85px;
                height: 50px;
                @include center-vert;
                .fa-clock {
                    margin-right: 5px;
                }
            }
            .ingredients {
                @include lower-info;
            }
            .description {
                @include lower-info;
            }
        }
    }
}

#ingredient {
    &.up + .fas{
        -webkit-transform:rotate(180deg); 
        -moz-transform:rotate(180deg);
        -o-transform:rotate(180deg); 
        -ms-transform:rotate(180deg); 
        transform:rotate(180deg);
    }
}
#appareil {
    &.up + .fas{
        -webkit-transform:rotate(180deg); 
        -moz-transform:rotate(180deg);
        -o-transform:rotate(180deg); 
        -ms-transform:rotate(180deg); 
        transform:rotate(180deg);
    }
}
#ustensiles {
    &.up + .fas{
        -webkit-transform:rotate(180deg); 
        -moz-transform:rotate(180deg);
        -o-transform:rotate(180deg); 
        -ms-transform:rotate(180deg); 
        transform:rotate(180deg);
    }
}
.fas {
    -webkit-transition:-webkit-transform 500ms; 
    -moz-transition:-moz-transform 500ms;       
    -o-transition:-o-transform 500ms;           
    -ms-transition:-ms-transform 500ms;    
    transition: transform 500ms ease-in-out;   
}