
.recherches {
    margin: 0% 4% 0% 4%;
    .recherche {
        margin: 2%;
        width: auto;
        display: flex;
        background-color: $color-shadow;
        justify-content: space-between;
        border-radius: 5px;
        &__texte {
            height: 69px;
            width: 100%;
            background-color: $color-shadow;
            border: hidden;
            border-radius: 5px;
            padding-left: 10px;
        }
        .fa-search {
            position: relative;
            top: 18px;
            right: 18px;
        }
    }
}


.filtres {
    padding-left: 1%;
    &__select {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .selected {
            @include center-vert;
            margin: 1%;
            padding-left: 5px;
            width: fit-content;
            border-radius: 5px;
            background-color: $color-ingredients;
            .fa-times-circle {
                padding: 5px;
            }
        }
    }
    &__choix {
        @include filtres;
    }
}
#filtres-ingredients {
    background-color: $color-ingredients;
}
#filtres-appareil {
    background-color: $color-appareil;
}
#filtres-ustensiles {
    background-color: $color-ustensiles;
}

#recettes {
    margin: 0% 4% 4% 4%;
    @include flex-wrap;
    justify-content: flex-start;
    .bloc-recette {
        height: 364px;
        margin: 2%;
        // width: 100%;
        .img {
            height: 178px;
            background-color: $color-inactive;
            border-radius: 5px 5px 0px 0px;
        }
        .recette {
            height: 186px;
            background-color: $color-shadow;
            border-radius: 0px 0px 5px 5px;
            padding-bottom: 10px;
            @include flex-wrap;
            .titre {
                width: 55%;
                height: 50px;
                padding: $margin-infos;
                text-overflow: ellipsis;
                @include center-vert;
                @include wrap-text;
            }
            .duree {
                width: 85px;
                height: 50px;
                @include center-vert;
                .fa-clock {
                    margin-right: 5px;
                }
            }
            .ingredients {
                @include lower-info;
            }
            .description {
                @include lower-info;
            }
        }
    }
}