$color-ingredients: #3282f7;
$color-appareil: #68d9a4;
$color-ustensiles: #ed6454;
$color-light: #ffffff;
$color-shadow: #e7e7e7;
$color-inactive: #c7bebe;
$color-text: #000000;

$margin-infos: 0% 5% 0% 5%;